<div class="author-bio">
    <img src="{{ '/assets/images/joerg-portrait.jpg' | relative_url }}" alt="Joerg Proeve, Founder and Independent Risk Advisor" class="author-bio-photo" loading="lazy">
    <div class="author-bio-text">
        <div class="author-bio-name">Joerg Proeve</div>
        <p>Founder of Breezy Risk. 20 years of insurance, background in cybersecurity and engineering. Audits insurance for community banks and credit unions.</p>
        <a href="{{ '/about/' | relative_url }}" class="author-bio-link">More about Joerg &rarr;</a>
    </div>
</div>
